<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div ng-app="myapp">



 
   	
        FIRSTNAME:     <input type="text" ng-model="firstname">
        SECONDNAME:    <input type="text" ng-model="lastname">
        Place of Birth: <input type="text" ng-model="pob">
     </br>

        first:  {{firstname}}
        </br>
        last:   {{lastname}}
         </br>
        pob:    {{pob}}
 

        


 
	


</div>

<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
 


</body>
</html>