<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>




<div ng-app="myapp">
   <div ng-controller="myntrl">

        Name:     <input type="text" ng-model="name">
        Surname:    <input type="text" ng-model="sname">
        Location: <input type="text" ng-bind="loc">

        </br>
        <input type="button" value="press-me" ng-bind="getData()">
   </div>
</div>  

<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/app.js"></script>

</body>
</html>